{% extends "index.html" %}

{% block title %}
	Início
{% endblock %}

{% block conteudo%}
<!-- ####### Notícias ####### -->
		<div class="row-fluid">
          <div class="span12">
            <div class="page-header">
                {% block titulo_bloco %}
                {% endblock %}
            </div>
          </div>
        </div>
        <div class="row-fluid">
			{% block conteudo_bloco %}
				<p>Nenhuma Notícia Encontrada.</p>
			{% endblock %}
        </div>
{% endblock %}
{% block merchan %}
<!-- ####### Apoiadores ###### -->
<div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="page-header">
                <h1>Apoiadores <small>parceiros do evento</small></h1>
            </div>
            <div class="row-fluid">
                <div class="span2"><a class="thumbnail" href="http://www.secom.rs.gov.br/" target="_blank"> <img src="assets/img/estado.jpg" title="Governo do Estado do Rio Grande do Sul" alt="Governo do Estado do Rio Grande do Sul" /> </a></div>
                <div class="span2"><a class="thumbnail" href="http://www.sbc.org.br/" target="_blank"> <img src="http://www.cafw.ufsm.br/eati/2013/assets/img/sbc.jpg" title="Sociedade Brasileira de Computação" alt="Sociedade Brasileira de Computação" /> </a></div>
                <div class="span2"><a class="thumbnail" href="http://www.terra.com.br/" target="_blank"> <img src="http://www.cafw.ufsm.br/eati/2013/assets/img/terra.jpg" title="Terra Networks" alt="Terra Networks" /> </a></div>
                <div class="span2"><a class="thumbnail" href="http://braziljs.org/" target="_blank"> <img src="http://www.cafw.ufsm.br/eati/2013/assets/img/brazilJS.jpg" title="BrazilJS" alt="BrazilJS" /> </a></div>
                <div class="span2"><a class="thumbnail" href="http://imasters.com.br/" target="_blank"> <img src="http://www.cafw.ufsm.br/eati/2013/assets/img/iMasters.jpg" title="iMasters" alt="iMasters" /> </a></div>
                <div class="span2"><a class="thumbnail" href="http://globo.com/" target="_blank"> <img src="http://www.cafw.ufsm.br/eati/2013/assets/img/globo.jpg" title="Globo.com" alt="Globo.com" /> </a></div>
            </div>
            <div class="span12">&nbsp;</div>
            <div class="row-fluid">
                <div class="span2"><a class="thumbnail" href="http://www.softex.br/" target="_blank"> <img src="http://www.cafw.ufsm.br/eati/2013/assets/img/softex.png" title="Softex" alt="Softex" /> </a></div>
                <div class="span2"><a class="thumbnail" href="http://blackberrydeveloper.com.br/" target="_blank"> <img src="http://www.cafw.ufsm.br/eati/2013/assets/img/blackberry.png" title="Blackberry Developer" alt="Blackberry Developer" /> </a></div>
                <div class="span2"><a class="thumbnail" href="http://novatec.com.br/" target="_blank"> <img src="http://www.cafw.ufsm.br/eati/2013/assets/img/novatec.jpg" title="Editora Novatec" alt="Editora Novatec" /> </a></div>
                <div class="span2"><a class="thumbnail" href="#" target="_blank"> <img class="ideia" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span2"><a class="thumbnail" href="#" target="_blank"> <img class="ideia" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span2"><a class="thumbnail" href="#" target="_blank"> <img class="ideia" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
            </div>
                <p>&nbsp;</p>      
          </div>
        </div>
      </div>
<!-- ####### Patrocínios ####### -->
	  <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="page-header">
                <h1>Patrocinadores <small></small></h1>
            </div>
            <div class="row-fluid">
                <div class="span2"><a class="thumbnail" href="#" target="_blank"> <img class="ideia" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span2"><a class="thumbnail" href="#" target="_blank"> <img class="ideia" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span2"><a class="thumbnail" href="#" target="_blank"> <img class="ideia" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span2"><a class="thumbnail" href="#" target="_blank"> <img class="ideia" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span2"><a class="thumbnail" href="#" target="_blank"> <img class="ideia" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span2"><a class="thumbnail" href="#" target="_blank"> <img class="ideia" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                </div>
                <p>&nbsp;</p>      
            </div>
            <!-- ### SILVER ### -->
            <div class="row-fluid">
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
                <div class="span1"><a class="thumbnail" href="#" target="_blank"> <img class="ideia-menor" title="Clique aqui e saiba como apoiar" alt="Clique aqui e saiba como apoiar" /></a></div>
            </div>
                <p>&nbsp;</p>      
            </div>
          </div>
        </div>
      </div>
	
{% endblock %}
