{%extends "index.html"%}

{% block title %}
	{{new.titulo}}
{% endblock %}

{% block conteudo %}

        <div class="row-fluid">
            <div class="span12">            	
                <div class="page-header">
	                <h1>
                    	{{ new.titulo }}
						<div class="fb-like" data-href="http://www.cafw.ufsm.br{{new.get_absolute_url}}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="tahoma"></div>
                    </h1>                    
                </div>
                <p>{{new.texto|safe}}</p>
                <br />
                <p><small>Criado em {{new.criado_em}} por {{new.criado_por}}</small></p>                                
            </div>
        </div>
{% endblock %}

{% block merchan %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '342025892533382', // App ID
      channelUrl : '//http://www.cafw.ufsm.br/eati/2012/', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=342025892533382";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
