{% extends "home_base.html" %}

{% block titulo_bloco %}
	<h1>Notícias <small>últimas novidades</small></h1>
	<div class="span2 ver-todas"><a href="/noticias">Ver Todas</a>
{% endblock %}

{% block conteudo_bloco %}
	{% for post in posts %}
	    {% if forloop.first %}
	    <div class="row-fluid">
	    {% endif %}
		    {% if forloop.counter0|divisibleby:"2" %}
		    <div class="row-fluid">
		    {% endif%}
		    <div class="span6">
	    	   <h3><a href="/noticia/{{ post.url }}">{{post.titulo}}</a></h3>
	    	   <p>Criado em {{post.criado_em}}</p>
	        </div>
	        {% if forloop.counter  == 2 or forloop.counter  == 4 or forloop.counter  == 6%}
		    </div>
		    {% endif%}
    	{% if forloop.last %}
    	</div>
    	{% endif%}
	{% endfor %}    
{% endblock %}
